/* body{
    background-color: #f0f0d8;
    margin: 0%;
} */
.slides {
    display: flex;
    position: relative;
    margin: 0%;
    padding: 0%;
    height: 425px;
    max-height: 100vmin;
    width: 425px;
    max-width: 100%;
    border-radius: 2%;
}
.slide {
    display: none;
    position: relative;
    margin: 0%;
    padding: 0%;
    width: 100%;
    border-radius: 3%;
    overflow: hidden;
}
.slide_number, .slide_caption {
    display: block;
    position: absolute;
    margin: 0%;
    padding: 5px;
    color:#f0f0d8;
    background-color: #5f90adab;
    font-size: 16px;
}
.slide_number {
    top: 0%;
    border-radius: 20%;
}
.slide_caption {
    bottom: 0%;
    border-radius: 10%;
}
.slide_img{
    display: block;
    margin: 0%;
    padding: 0%;
    width: 100%;
}
.slide_buttons {
    display: flex;
    position: absolute;
    margin: 0%;
    padding: 0%;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    max-height: 100%;
    border: solid;
}
.prev, .next {
    display: block;
    position: absolute;
    cursor: default;
    margin: 0%;
    padding: 35% 5px;
    color: #fa7f43;
    background-color: #5f90ad55;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.prev{
    border-radius: 0 30px 30px 0;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}
.next{
    border-radius: 30px 0 0 30px;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}
.index{
    display: flex;
    margin: 0%;
    padding: 0%;
    justify-content: space-evenly;
}
.dot{
    display: block;
    cursor: pointer;
    padding: 0%;
    margin: 8px 3px;
    background-color: #fa7f43;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}