html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(#a8c0c3 5%, #84a8b8 70%);
  
}

h1,
h2,
h3,
h4 {
  font-family: "Lobster", cursive;
}

.italic {
  font-style: italic;
}

/* add wrapper for max width desktop */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.logo-desktop {
  max-width: 960px;
  display: none;
}

.logo-desktop img {
  max-width: 100%;
  height: auto;
}

.logo-mobile img {
  width: 100px;
  border-radius: 10px;
}


@media (min-width: 600px) {
  .logo-desktop {
    display: block;
  }
  .logo-mobile {
    display: none;
  }
}

.welcome-text {
  width: 80%;
  text-align: center;
  padding: 0.5rem;
}

.welcome-text h2 {
  font-size: 1.8rem;
}


/* Menu MAin */

.welcome-categories {
  font-family: 'Lobster', cursive;
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 20px 0 20px;
  overflow: hidden;
  margin-top: 1.5rem;
  padding-bottom: 2rem;
}


.welcome-category {
  transition: all 1ms ease-in-out;
}

.welcome-category:hover {
  transform: scale(1.05);
}

.welcome-category > a {
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.icons-main {
  width: 120px;
  padding: 0.5rem;
  margin: 0 1rem;
}

.welcome-category.do-chill > a {
  padding-right: 0;
  padding-left: 4rem;
  justify-content: flex-end;
}
.subtext {
  font-size: 1rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.be-chill {
  background: #ccd8ce;
}

.do-chill {
  background: #a8c0c3;
  margin: 0.5rem 0;
}
.go-chill {
  background: #84a8b8;
}

/* SECTIONS */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4.2rem; /* because has 4rem height*/
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: #f0f0d8;
}

#section-go {
  margin-bottom: 0rem;
}

@media (min-width: 960px) {
  section {
    border-radius: 15px;
  }
  #section-go {
    border-radius: 15px 15px 0 0;
  }
}

.text-section {
  font-weight: 900;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0 1rem;
}

section .section-image {
  width: 100%;
}

.beCarousel,
.doCarousel,
.goCarousel {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  align-items: center;
}

#section-footer {
  background-color: #5f90ad;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1rem 2rem;
}

#section-footer a {
  color: #fff;
}
