li{
list-style-type: none;
}
img{
display: block;
}
body{
display: flex;
flex-direction: column;
background-color: #d4845e;
align-items: center;
}
.wrapper {
display: flex;
position: relative;
width: 90vw;
background-color:#f0f0d8;
flex-flow: column nowrap;
}
header{
display: flex;
width: 100%;
justify-content: space-between;
}
.logo_container{
display: flex;
}
.logo{
display: block;
}
.menu_container{
display: flex;
width: 50%;
}
.menu{
display: flex;
width: 90%;
align-items: flex-end;
justify-content: space-between;
}
.login_avatar_box{
    position: absolute;
    top:0;
    right: 0;
}
.welcome_panel{
display: flex;
flex-flow: column nowrap;
align-items: center;
padding: 30px 10px 10px 10px;
}
.welcome_image {
display: flex;
width: 100%;
justify-content: center;
}
.welcome_text{
text-align: center;
padding: 20px;
}