.slides {
    display: flex;
    position: relative;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    padding: 4px 4px 0 4px;
    margin: 0%;
    /* justify-content: center;
    align-items: center; */
}
.slide_number, .slide_caption{
    position: absolute;
    color:#f0f0d8;
    background-color: #5f90ad90;
    font-size: 16px;
    padding: 5px;
    border-radius: 40%;
    text-align: center;
}
.slide_number {
    top: 0%;
    margin: 10px 0 0 10px;
}
.slide_caption {
    bottom: 0%;
    margin: 0 0 10px 10px;
}

.slide {
    display: none;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
    align-content: center;
}
.slide img{
    max-height: 100%;
    max-width: 100%;
    margin: 0%;
    border-radius: 2%;
}
.prev, .next {
    position: absolute;
    top: 30%;
    color: #fa7f43;
    background-color: #5f90ad90;
    height: 200px;
    width: 20px;
    margin: 0;
    padding: 0;
    line-height: 200px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
.next{
    right: 2%;
    border-radius: 30px 0 0 30px;
}
.prev{
    left: 2%;
    border-radius: 0 30px 30px 0;
}
.index {
    display: inline-block;
    margin: 8px 3px;
    height: 15px;
    width: 15px;
    background-color: #fa7f43;
    border-radius: 50%;
}