/* body{
    background-color: cornsilk;
    margin: 0%;
} */
.slides {
    display: flex;
    margin: 0%;
    padding: 0%;
    align-items: center;
    height: 80vh;
    width: 100vw;
}
.slide {
    display: none;
    margin: 0%;
    padding: 0%;
    position: relative;
    max-height: 100%;
    max-width: fit-content;
}
.slide_number, .slide_caption {
    display: block;
    margin: 0%;
    position: absolute;
    color:#f0f0d8;
    background-color: #5f90ad20;
    font-size: 16px;
    padding: 5px;
    border-radius: 40%;
}
.slide_number {
    top: 0%;
}
.slide_caption {
    bottom: 0%;
}
.slide_img{
    margin: 0%;
    padding: 0%;
    display: block;
    max-height: 100%;
    max-width: 100%;
    border-radius: 2%;
}
.slide_buttons {
    margin: 0%;
    padding: 0%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    max-height: 100%;
}
.prev, .next {
    margin: 0%;
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #fa7f43;
    background-color: #5f90ad20;
    padding: 40% 2px;
}
.prev{
    border-radius: 0 30px 30px 0;
}
.next{
    border-radius: 30px 0 0 30px;
}
.index{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
}
.dot{
    padding: 0%;
    display: block;
    margin: 8px 3px;
    height: 15px;
    width: 15px;
    background-color: #fa7f43;
    border-radius: 50%;
}