body {
font-family: 'Nunito', sans-serif;
}

h1 , h2 ,h3, h4 {font-family: 'Lobster', cursive;}

.italic {
font-style: italic;
}

/* add wrapper for max width desktop */
.wrapper {
background-color: #f0f0d8;
max-width: 960px;
margin: 0 auto;
position: relative;
}
.welcome-text {
width: 80%;
text-align: center;
padding: 0.5rem;
}


/* Menu MAin */

.welcome-categories {
  font-family: 'Lobster', cursive;
  width: 95%;
  display: flex;
  flex-direction: column;
  border-radius: 20px 0 20px;
  overflow: hidden;
  margin-top: 1rem
}

.welcome-category > a {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.icons-main {
  width: 150px;
  padding: 0.2rem;
}

.welcome-category.do-chill > a {
  padding-right: 0;
  padding-left: 4rem;
}
.subtext {
  font-size: 1rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.be-chill {
  background: #CCD8CE;
}

.do-chill {
  background:#A8C0C3;
  margin: 0.5rem 0;
  
}
.go-chill {
  background:  #84A8B8;
}

/* SECTIONS */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4.2rem; /* because has 4rem height*/
  width: 100%;
}

.text-section{
  font-weight: 900;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0 1rem;
}

section .section-image {
width: 100%;
}

.beCarousel, .doCarousel, .goCarousel {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  align-items: center;
}

#section-be {
  background: linear-gradient(#f0f0d8 5%, #CCD8CE 70%);
}

#section-do {
  background:linear-gradient( #f0f0d8 5%, #A8C0C3 70%);
}

#section-go {
  background: linear-gradient( #f0f0d8 5%, #84A8B8 70%); 
}


#section-footer {
  background-color: #5F90AD;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1rem 2rem;
}

